@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

root {
    --rose-pale: #F0EDEE;
    --bleu-fonce: #07393C;
    --nav-bg: #2C666E;
    --bleu clair: #90DDF0;
}

html { /*Définission de la taille de police de base : rem*/
    font-size: 22px;
     z-index: 0;
    background-color:#F0EDEE;
    font-family: "Montserrat", sans-serif;
    color:#F0EDEE ;
}

nav { /*navbar fixée*/
    z-index: 10;
    display: flex;
    justify-content: center;
    background:#2C666E;
    width: 100%;
    position: fixed;
    top: 0;
}

nav li { /*éléments de la navbar centrés*/
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
    display: inline;
}

main { /*marge pour aérer*/
    color: #90DDF0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
}

h1 {
    margin: 35px;
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
    color: #90DDF0;
    text-transform: uppercase;
    justify-content: center;
}

p {
    display: block;
    margin: 20px;
    padding: 8px;
    font-family: "Montserrat", sans-serif;
}

main ul { /*main pour être sûrs de ne pas toucher aux ul de la nav*/
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px;
    border-top: solid 2px;
    margin: 30px;
}

main ul > li { /*main pour être sûrs de ne pas toucher aux ul de la nav*/
    list-style-position: inside;
    list-style-type: " ▷ ";
    font-size: 0.9em;
    padding-left: 5px;
    border-left: #2C666E;
}

footer {
    color:#07393C;
    z-index: 10;
    display: flex;
    font-size: 0.8rem;
    justify-content: end;
    margin: 0;
    background-color:#2C666E;
    width: 100%;
    position: fixed;
    padding: 0;
    bottom: 0;
}



